{% extends 'main/base.html' %}

{% block content %}
    <style type="text/css" media="all">
        @font-face {
            font-family: Tanha;
            src: url('/font/tanha-font-v0.10/Tanha.eot');
            src: url('/font/tanha-font-v0.10/Tanha.eot?#iefix') format('embedded-opentype'),
            url('/font/tanha-font-v0.10/Tanha.woff') format('woff'),
            url('/font/tanha-font-v0.10/Tanha.ttf') format('truetype');
            font-weight: normal;
        }

        #ppp {
            font-family: Tanha;
        }
    </style>
    <p>سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.</p>
{% endblock %}