{% extends 'main/base.html' %}

{% block content %}
    <div class="shadow jumbotron p-4" style="position: center;  width: 40%; margin: auto; margin-top: 2%">
        <h2 class="row" style="width: fit-content; margin: auto;">Profile</h2><br>
        <div class="d-flex justify-content-center">
            <label class="col" style="margin-left: 10%;">First Name: </label>
            <span id=”text_first_name” class="col">{{ user.first_name }}</span>
        </div>
        <div class="d-flex justify-content-center">
            <label class="col" style="margin-left: 10%;">Last Name: </label>
            <span id=”text_last_name” class="col">{{ user.last_name }}</span>
        </div>
        <div class="d-flex justify-content-center">
            <label class="col" style="margin-left: 10%;">User Name: </label>
           <span id=”text_user_name” class="col">{{ user.username }}</span>
        </div>
    </div>
{% endblock %}